<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.VoicePlay"
        tools:targetApi="31">
        <activity
            android:name=".ui.TrampolineActivity"
            android:exported="false"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <service
            android:name=".player.PlaybackService"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.wyj.voice.ACTION.PLAY_TOGGLE"/>
                <action android:name="com.wyj.voice.ACTION.PLAY_LAST"/>
                <action android:name="com.wyj.voice.ACTION.PLAY_NEXT"/>
                <action android:name="com.wyj.voice.ACTION.STOP_SERVICE"/>
            </intent-filter>
        </service>

        <activity
            android:name=".ui.MusicPlayerActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:theme="@style/Theme.MusicPlayer">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.PlayMusicActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity android:name=".ui.CommonActivity"
            android:theme="@style/Theme.MusicPlayer" />
    </application>

</manifest>